---
import { parse } from "node-html-parser";

import Layout from "~layouts/Main.astro";
import Content from "~components/Content.astro";
import Gallery from "~components/Gallery.astro";
import Page from "~components/Page.astro";
import Row from "~components/Page/Row.astro";
import Back from "~components/Anchor/Back.astro";

import { roles } from "~data/resume.json";
import { get, create } from "~scripts/helpers";
import galleries from "~data/galleries";

import type { props } from "~pages/learning/[path].astro";

export function getStaticPaths() {
  return get.StaticPaths(roles);
}

const { name, local }: props = Astro.props;

const layoutProps = {
  title: "Paul Heading | Role | " + name,
  description: local.summary,
};

let filename = create.filename(local.pathname);

// @ts-ignore
const content = galleries[filename];
---

<Layout {...layoutProps}>
  <Content>
    <Page>
      {
        local.sections.map((section) => (
          <Row content={{ padding: true }}>{parse(section)}</Row>
        ))
      }
      {
        content && (
          <Row content={{ padding: true }}>
            <Gallery content={content} />
          </Row>
        )
      }
    </Page>
    <div class="wrap-back">
      <Back>Resume</Back>
    </div>
  </Content>
</Layout>

<style lang="scss">
  @import "~styles/mixins";

  .wrap-back {
    margin-top: $padding-row * 2;
  }
</style>
