---
import Window from "~components/Desktop/Window.astro";
import Header from "~components/Desktop/Window/Spotify/Header.astro";
import Main from "~components/Desktop/Window/Spotify/Main.astro";

const { name } = Astro.props;
---

<Window {...Astro.props} class="position">
  <div class="content">
    <Header year={name} />
    <Main year={name} />
  </div>
</Window>

<style lang="scss">
  .position {
    left: 4rem;
    top: 2rem;
  }

  .content {
    background-color: black;
    color: white;
  }
</style>
