---
const { name, class: className } = Astro.props;
const href = name == "home" ? "/" : "/" + name;
const classes = ["link", name + "-link", className];
---

<a href={href} class:list={classes}>
  <slot />
</a>
