---
const { name, class: className } = Astro.props;

const isHome = name == "home";

const href = isHome ? "/" : "/" + name;
const path = Astro.url.pathname.split("/").join("");
const classes = `link ${name}-link ${className}`;

let matches = path == name;

if (isHome && !path.length) matches = true;

const props = {
  class: classes,
};

if (!matches) {
  // @ts-ignore
  props.href = href;
  // @ts-ignore
  props["aria-label"] = name;
}
---

{
  matches ? (
    <div {...props}>
      <slot />
    </div>
  ) : (
    <a {...props}>
      <slot />
    </a>
  )
}
