---
const { name, class: className } = Astro.props;
const href = name == "home" ? "/" : "/" + name;
const matches = Astro.url.pathname == href;
const classes = ["link", name + "-link", className];
---

<div>
  {Astro.url.pathname.split("/").join("")}
</div>
