---
import { OutlineButton } from "paully";

import type { wrapProps } from "~types/article/more";

let { articles } = Astro.props;

let wrapProps: wrapProps = {
  class: "wrap",
};

if (!articles) wrapProps.style = { display: "none" };
---

<div {...wrapProps}>
  <OutlineButton id="see-more">
    See more <div class="count" slot="count">
      [{articles}]
    </div>
  </OutlineButton>
</div>

<style lang="scss">
  @import "~styles/mixins";

  .wrap {
    margin-top: $padding-row * 2;
  }

  .count {
    font-weight: 400;
  }
</style>
