---
import WrapWindows from "~Canvas/Windows";
import WrapFolders from "~Canvas/Folders";
---

<script src="~scripts/components/desktop.js"></script>

<div class="canvas-content">
  <WrapWindows>
    <slot name="windows" />
  </WrapWindows>
  <WrapFolders>
    <slot name="folders" />
  </WrapFolders>
</div>

<style lang="scss">
  @import "~styles/mixins";

  .canvas-content {
    justify-content: center;
    display: grid;

    @include medium-up {
      justify-content: space-between;
      height: $height-section;
      display: flex;
    }
  }
</style>
