---
import DesktopCredit from "~Desktop/Credit";
---

<div id="canvas" class="canvas-container">
  <div class="canvas-wrap">
    <slot />
    <DesktopCredit />
  </div>
</div>

<style lang="scss">
  @use "~mixins" as *;

  .canvas-container {
    background-color: $c-teal;
    padding: $padding-canvas;
    overflow: hidden;
  }

  .canvas-wrap {
    @include wrap;
  }
</style>
