<div class="wrap-folders">
  <slot />
</div>

<style lang="scss">
  @use "~mixins" as *;

  .wrap-folders {
    text-align: center;
    position: relative;
    z-index: 1;

    @include medium-down {
      display: none;
    }
  }
</style>
