<div class="wrap-windows">
  <slot />
</div>

<style lang="scss">
  @import "~styles/mixins";

  .wrap-windows {
    position: relative;
    z-index: 2;

    @include medium-down {
      height: toRem(440);
      width: toRem(256);
    }
  }
</style>
