---
const { columns = 1, padding = false } = Astro.props;

function createColumnClass(columns: number) {
  let classNames = ["single", "double", "triple"];
  let columnsToIndex = columns - 1;

  return classNames[columnsToIndex];
}

function createPropClasses(columns: number, padding: boolean) {
  let classNames = "row-content";

  classNames = classNames += " " + createColumnClass(columns);

  if (padding) classNames += " padding";

  return classNames;
}

const props = {
  class: createPropClasses(columns, padding),
};
---

<div {...props}>
  <slot />
</div>

<style lang="scss">
  @use "~mixins" as *;

  @mixin row-content {
    @include medium-up {
      align-items: flex-start;
      gap: $padding-row;
      display: grid;
    }
  }

  .row-content.double {
    @include row-content;

    @include medium-up {
      grid-template-columns: 2fr 1fr;
      padding: $padding-row;
    }
  }

  .row-content.triple {
    @include row-content;

    @include medium-up {
      grid-template-columns: repeat(3, 1fr);
      padding: $padding-row;
    }
  }

  .row-content.padding {
    padding: $padding-row;
  }
</style>
