---
import RowContent from "~Page/Row/Content";
import RowButton from "~Page/Row/Button";

import { Previous, Next } from "paully/svgs";

const { content } = Astro.props;
---

<div class="row-controls">
  <RowButton type="prev">
    <Previous className="previous" />
  </RowButton>
  <RowContent {...content}>
    <slot />
  </RowContent>
  <RowButton type="next">
    <Next className="next" />
  </RowButton>
</div>

<style lang="scss">
  @use "~mixins" as *;

  $padding: toRem(16);

  .row-controls {
    position: relative;

    @include medium-down {
      padding-bottom: $padding;
      padding-top: $padding;
    }
  }

  .previous {
    position: relative;
    left: -1px;
  }

  .next {
    position: relative;
    right: -1px;
  }
</style>
