---

---

<div class="row-title">
  <slot />
</div>

<style lang="scss">
  @use "~mixins" as *;

  .row-title {
    line-height: $line-height-sm;
    padding-right: $padding-row;
    padding-left: $padding-row;
    padding-top: $padding-row;
    font-size: $h3-font-size;

    @include medium-down {
      padding-bottom: $padding-row;
      border-bottom: $border-dashed;
    }
  }
</style>
