@import "~styles/variables";
@import "~styles/mixins/breakpoints";
@import "~styles/mixins/buttons";
@import "~styles/mixins/focus";
@import "~styles/mixins/folder";
@import "~styles/mixins/form";
@import "~styles/mixins/hero";
@import "~styles/mixins/label";
@import "~styles/mixins/menu";
@import "~styles/mixins/row";
@import "~styles/mixins/spotify";
@import "~styles/mixins/theme";

@mixin size($value) {
  height: $value;
  width: $value;
}

@mixin window {
  box-shadow: $box-shadow-window;
  border-radius: 0.5rem;
  width: $width-window;
  font-size: 1.125rem;
  overflow: hidden;
}

@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin wrap {
  max-width: $max-width-wrap;
  margin-right: auto;
  margin-left: auto;
}

@mixin icon($name) {
  [astro-icon="#{$name}"] {
    @content;
  }
}

@mixin path($name) {
  path[id="#{$name}"] {
    @content;
  }
}

@mixin topbar-icon {
  justify-content: center;
  display: inline-flex;
  width: 5rem;
}

@mixin position-folder {
  @include medium-down {
    display: inline-block;
  }

  @include medium-up {
    transition: right 300ms steps(3), top 300ms steps(3);
    position: absolute;
  }
}

@mixin trello-button {
  background-color: white;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.375rem;
  cursor: pointer;
  display: flex;

  @include focus {
    background-color: black;
    color: white;
  }

  svg {
    position: relative;
    fill: currentColor;

    @include medium-down {
      transform: rotate(90deg);
    }
  }

  &:disabled {
    visibility: hidden;
  }
}

@mixin page-button-setup {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.375rem;
  border: 1px solid;
  height: 2.125rem;
  width: 2.125rem;

  &:disabled {
    opacity: 0;
  }

  svg {
    pointer-events: none;
    position: relative;
  }
}

@mixin page-button {
  $backgroundColor: white;
  $color: black;

  @include page-button-setup;

  background-color: $backgroundColor;
  border-color: $color;
  color: $color;

  @include focus {
    border-color: $backgroundColor;
    background-color: $color;
    fill: $backgroundColor;

    svg {
      fill: $backgroundColor;
    }
  }

  svg {
    fill: $color;
  }
}

@mixin gallery-button {
  $backgroundColor: black;
  $color: white;

  @include page-button-setup;

  background-color: $backgroundColor;
  border-color: $color;
  color: $color;

  @include focus {
    border-color: $backgroundColor;
    background-color: $color;
    fill: $backgroundColor;

    svg {
      fill: $backgroundColor;
    }
  }

  svg {
    fill: $color;
  }
}