@import "./variables/colors";

$font-sans-serif: arial, sans-serif;

$font-family-body: $font-sans-serif;

$font-family-headings: $font-sans-serif;

$font-weight-normal: 400;

$font-weight-medium: 600;

$font-weight-bold: 700;

$line-height-lg: 1.4;

$line-height-md: 1.3;

$line-height-sm: 1.2;

$h1-font-size: 2.75rem;

$h2-font-size: 2.5rem;

$h3-font-size: 2rem;

$h4-font-size: 1.5rem;

$h5-font-size: 1.25rem;

$h6-font-size: 1rem;

$font-size-body: $h5-font-size;

$font-size-summary: $font-size-body * 0.9;

$font-size-caption: $font-size-body * 0.8;

$font-size-alt: $font-size-body * 0.6;

$border-banner-width: 0.25rem;

$border-banner: $border-banner-width solid black;

$border-dashed: 0.125rem dashed #dee2e6;

$border-radius-sm: 0.25rem;

$border-radius-lg: $border-radius-sm * 2;

$min-width-site: 20rem;

$plusp: 1rem;

$max-width-wrap: 62rem;

$width-window: 16rem;

$padding-row-hz: 0.75rem;

$padding-link: 0.75rem;

$padding-canvas: 2rem;

$padding-tag: 0.5rem 0.75rem;

$padding-row: 1.5rem;

$padding-trello: 0.625rem;

$padding-blockquote: 1rem;

$height-section: 32rem;

$height-banner: 5.5rem;

$box-shadow-window: 0 0 0.375rem rgba(black, 0.2);

$box-shadow-page: 0 0 0.5rem #dee2e6;

$gap-links: 1.5rem;

$margin-button: $padding-row + 1.125rem;

$margin-row: $padding-row * 1.5;

$margin-paragraph: 1.25rem;

$margin-blockquote: $margin-paragraph * 1.5;

$page-button-bump-sm: $padding-row * 0.625;

$page-button-bump-lg: $padding-row * 0.75;

$page-button-size: 2.125rem;