---
import Prev from "~components/Desktop/Window/Trello/Prev.astro";
import Next from "~components/Desktop/Window/Trello/Next.astro";
---

<footer>
  <Prev />
  <div class="status"></div>
  <Next />
</footer>

<style lang="scss">
  @import "~styles/mixins";

  footer {
    grid-template-columns: 1.875rem auto 1.875rem;
    padding: $padding-trello;
    align-items: center;
    text-align: center;
    display: grid;
  }
</style>
