---
import Previous from "#trello/previous";
import Next from "#trello/next";

import { projects } from "~data/layout.json";

let { cards } = projects;

let totalPages = Math.ceil(cards.length / 2);
---

<script src="~scripts/components/desktop/window/trello/footer.js"></script>

<footer>
  <Previous />
  <div class="status">
    <span class="currentPage">1</span> of <span class="totalPages"
      >{totalPages}</span
    >
  </div>
  <Next />
</footer>

<style lang="scss">
  @import "~styles/mixins";

  footer {
    grid-template-columns: 1.875rem auto 1.875rem;
    padding: $padding-trello;
    align-items: center;
    text-align: center;
    display: grid;
  }
</style>
