---
import { Dots } from "paully/svgs";
---

<header>
  <div>Projects</div>
  <div><Dots /></div>
</header>

<style lang="scss">
  @import "~styles/mixins";

  header {
    justify-content: space-between;
    padding: $padding-trello;
    align-items: center;
    display: flex;
  }
</style>
