---
import { Next } from "paully/svgs";
---

<button class="next" title="next projects page">
  <Next className="any" height="16" />
</button>

<style lang="scss">
  @import "~styles/mixins";

  .next {
    @include trello-button;

    svg {
      @include medium-up {
        right: -1px;
      }

      @include medium-down {
        bottom: -1px;
      }
    }
  }
</style>
