---
import { Previous } from "paully/svgs";
---

<button
  class="previous"
  title="previous projects page"
  style={{ visibility: "hidden" }}
>
  <Previous className="any" height="16" />
</button>

<style lang="scss">
  @import "~styles/mixins";

  .previous {
    @include trello-button;

    svg {
      @include medium-up {
        left: -1px;
      }

      @include medium-down {
        top: -1px;
      }
    }
  }
</style>
