---
import Close from "~Page/Gallery/Buttons/Close";
import Up from "~Page/Gallery/Buttons/Up";
import Down from "~Page/Gallery/Buttons/Down";

const contextProps = {
  "data-state": "hidden",
  class: "context",
};
---

<div {...contextProps}>
  <div class="exit">
    <Close />
  </div>
  <div class="copy"></div>
  <div class="pagination">
    <Up />
    <Down />
  </div>
</div>

<style lang="scss">
  @use "~mixins" as *;

  $margin-button: -17;

  .context {
    font-weight: $font-weight-normal;
    text-align: center;
    position: relative;
    color: white;
  }

  .context[data-state="hidden"] {
    display: none;
  }

  .copy {
    padding: toRem(21) toRem(21) toRem(16);
    border: 1px solid;

    @include small-down {
      font-size: toRem(18);
    }
  }

  .exit {
    @include control-row;

    & {
      margin-bottom: toRem($margin-button);
    }
  }

  .pagination {
    @include control-row;

    & {
      margin-top: toRem($margin-button);
    }
  }
</style>
