---
import { helpers } from "paully";

const { margin = "-12" } = Astro.props;

let vars = {
  margin: helpers.get.rems(margin),
};
---

<div class="thumbnails">
  <slot />
</div>

<style lang="scss" define:vars={vars}>
  @import "~styles/mixins";

  .thumbnails {
    margin: var(--margin);
  }
</style>
