---
import { get } from "paully/helpers";

const { margin = "-12" } = Astro.props;

let vars = {
  margin: get.rems(margin),
};
---

<div class="thumbnails">
  <slot />
</div>

<style lang="scss" define:vars={vars}>
  @use "~mixins" as *;

  .thumbnails {
    margin: var(--margin);
  }
</style>
