---
import { Close } from "paully/svgs";
---

<button class="close">
  <Close className="any" />
</button>

<style lang="scss">
  @use "~mixins" as *;

  .close {
    @include gallery-button;
  }
</style>
