---
import { Down } from "paully/svgs";
---

<button class="down" style="display: none;">
  <Down className="any" />
</button>

<style lang="scss">
  @use "~mixins" as *;

  .down {
    @include gallery-button;

    svg {
      bottom: -1px;
    }
  }
</style>
