---
import { Down } from "paully/svgs";
---

<button class="down" style="display: none;">
  <Down className="any" />
</button>

<style lang="scss">
  @import "~styles/mixins";

  .down {
    @include gallery-button;

    svg {
      bottom: -1px;
    }
  }
</style>
