---
import { Info } from "paully/svgs";
---

<button class="info" data-state="hidden">
  <Info className="any" />
</button>

<style lang="scss">
  @import "~styles/mixins";

  .info {
    @include gallery-button;
  }
</style>
