---
import { Mute } from "paully/svgs";
import { Unmute } from "paully/svgs";
---

<button class="mute" data-state="muted">
  <Mute className="any" />
  <Unmute className="any" />
</button>

<style lang="scss">
  @use "~mixins" as *;

  .mute {
    @include gallery-button;

    &[data-state="muted"] svg[data-muted] {
      display: none;
    }

    &[data-state="unmuted"] svg[data-unmuted] {
      display: none;
    }
  }
</style>
