---
import { Next } from "paully/svgs";
---

<button class="next">
  <Next className="any" />
</button>

<style lang="scss">
  @import "~styles/mixins";

  .next {
    @include gallery-button;

    svg {
      right: -1px;
    }
  }
</style>
