---
import { Next } from "paully/svgs";
---

<button class="next">
  <Next className="any" height="16" />
</button>

<style lang="scss">
  @use "~mixins" as *;

  .next {
    @include gallery-button;

    svg {
      right: -1px;
    }
  }
</style>
