---
import { Play, Pause } from "paully/svgs";
---

<button class="play" data-state="playing">
  <Pause className="any" />
  <Play className="any" />
</button>

<style lang="scss">
  @use "~mixins" as *;

  .play {
    @include gallery-button;

    &[data-state="playing"] svg[data-play] {
      display: none;
    }

    &[data-state="paused"] svg[data-pause] {
      display: none;
    }
  }
</style>
