---
import { Previous } from "paully/svgs";
---

<button class="prev">
  <Previous className="any" />
</button>

<style lang="scss">
  @import "~styles/mixins";

  .prev {
    @include gallery-button;

    svg {
      left: -1px;
    }
  }
</style>
