---
import { Up } from "paully/svgs";
---

<button class="up" style="display: none;">
  <Up className="any" />
</button>

<style lang="scss">
  @use "~mixins" as *;

  .up {
    @include gallery-button;

    svg {
      top: -1px;
    }
  }
</style>
