---
import Layout from "~Layouts/Main";
import PageOuter from "~Page/Outer";
import { personal, seo } from "paully/data";

const layoutProps = {
  title: seo.title("404"),
  description:
    "Oh no... this page is missing. Maybe the url is incorrect? If something looks broken, please email " +
    personal.email,
};
---

<Layout {...layoutProps}>
  <PageOuter>
    <div class="wrap">
      <h1 class="title">Page Not Found 🤬</h1>
      <p class="copy">
        <a href={"mailto:" + personal.email} class="link">
          where the page go?
        </a>
      </p>
    </div>
  </PageOuter>
</Layout>

<style lang="scss">
  @use "~mixins" as *;

  .wrap {
    @include wrap;

    & {
      text-align: center;
    }
  }

  .copy {
    font-size: $h3-font-size;
    font-weight: bold;
  }

  .link {
    @include focus {
      @include gold-box;
    }
  }
</style>
