---
import Layout from "~layouts/Main.astro";
import PageOuter from "~components/Page/Outer.astro";
import { data } from "paully";

let { personal, seo } = data;

const layoutProps = {
  title: seo.title("404"),
  description:
    "Oh no... this page is missing. Maybe the url is incorrect? If something looks broken, please email " +
    personal.email,
};
---

<Layout {...layoutProps}>
  <PageOuter>
    <div class="wrap">
      <h1 class="title">Page Not Found 🤬</h1>
      <p class="copy">
        <a href={"mailto:" + personal.email} class="link">where the page go?</a>
      </p>
    </div>
  </PageOuter>
</Layout>

<style lang="scss">
  @import "~styles/mixins";

  .wrap {
    @include wrap;
    text-align: center;
  }

  .copy {
    font-size: $h3-font-size;
    font-weight: bold;
  }

  .link {
    @include focus {
      @include gold-box;
    }
  }
</style>
