---
import Layout from "~layouts/Main.astro";
import Content from "~components/Content.astro";
import Page from "~components/Page.astro";
import Row from "~components/Page/Row.astro";
import SearchBar from "~components/SearchBar.astro";
import ArticleRows from "~components/Article/Rows.astro";
import ArticleMore from "~components/Article/More.astro";

import seo from "~data/seo.js";
import { articles } from "~data/layout.json";

function createPages(articles: [object]) {
  let pages: [[] | [object]] = [[]];
  let position = 0;

  function placeArticle(article: object, index: number) {
    let remainder = index % 3;
    if (index > 0) {
      if (!remainder) {
        pages.push([]);
        position++;
      }
    }
    pages[position].push(article);
  }

  articles.forEach(placeArticle);

  return pages;
}

let pages = createPages(articles);

const layoutProps = {
  title: seo.title("Articles"),
};

let articlesPerRow = 3;

let moreArticles = articles.length - articlesPerRow;
---

<Layout {...layoutProps}>
  <Content>
    <Page data="search">
      <Row content={{ padding: true }}>
        <div class="title-wrap">
          <div class="title">Bloggy McBlogface</div>
          <SearchBar />
        </div>
        <div class="copy">
          <p>
            I like thinking about solutions, not just to design briefs but in
            the world around us. I also think the same principles that underpin
            good design can be applied to everyday life.
          </p>
          <p>
            Digital design is often a conversation where we learn and respond to
            the facts around us. I'd like to document that process here.
          </p>
        </div>
      </Row>
      <ArticleRows rows={pages} />
    </Page>
    <ArticleMore articles={moreArticles} />
  </Content>
</Layout>

<style lang="scss">
  @import "~styles/mixins";

  @mixin mobile-bump {
    @include medium-down {
      margin-bottom: $padding-row * 0.5;
    }
  }

  .title-wrap {
    margin-bottom: $padding-row;
    display: grid;
    gap: 1rem;

    @include medium-up {
      justify-content: space-between;
      grid-auto-flow: column;
      align-items: center;
    }
  }

  .title {
    font-size: $h3-font-size;
  }

  .copy {
    font-weight: normal;
  }
</style>
