---
import Layout from "~Layouts/Main";

import PageOuter from "~Page/Outer";
import PageInner from "~Page/Inner";
import PageRow from "~Page/Row";

import ArticleRows from "~Components/Article/Rows";
import ArticleMore from "~Components/Article/More";

import SearchBar from "~Components/SearchBar";

import { seo } from "paully/data";
import { articles } from "~data/layout.json";

function createPages(articles: [object]) {
  let pages: [[] | [object]] = [[]];
  let position = 0;

  function placeArticle(article: object, index: number) {
    let remainder = index % 3;
    if (index > 0) {
      if (!remainder) {
        pages.push([]);
        position++;
      }
    }
    pages[position].push(article);
  }

  articles.forEach(placeArticle);

  return pages;
}

let pages = createPages(articles.cards);

const layoutProps = {
  title: seo.title("Blog"),
};

let articlesPerRow = 3;

let moreArticles = articles.cards.length - articlesPerRow;
---

<Layout {...layoutProps}>
  <PageOuter>
    <PageInner data="search">
      <PageRow content={{ padding: true }}>
        <div class="title-wrap">
          <div class="title">Bloggy McBlogface</div>
          <SearchBar />
        </div>
        <div class="copy">
          <p>
            I like thinking about solutions, not just to design briefs but in
            the world around us. I also think the same principles that underpin
            good design can be applied to everyday life.
          </p>
          <p>
            Digital design is often a conversation where we learn and respond to
            the facts around us. I'd like to document that process here.
          </p>
        </div>
      </PageRow>
      <ArticleRows rows={pages} />
    </PageInner>
    <ArticleMore articles={moreArticles} />
  </PageOuter>
</Layout>

<style lang="scss">
  @import "~styles/mixins";

  @mixin mobile-bump {
    @include medium-down {
      margin-bottom: $padding-row * 0.5;
    }
  }

  .title-wrap {
    margin-bottom: $padding-row;
    display: grid;
    gap: 1rem;

    @include medium-up {
      justify-content: space-between;
      grid-auto-flow: column;
      align-items: center;
    }
  }

  .title {
    font-size: $h3-font-size;
  }

  .copy {
    font-weight: normal;
  }
</style>
