---
import { parse } from "node-html-parser";
import remove_markdown from "remove-markdown";

import Layout from "~layouts/Main.astro";
import Content from "~components/Content.astro";
import Page from "~components/Page.astro";
import Row from "~components/Page/Row.astro";
import Biography from "~markdown/biography.md";
import Card from "~components/Page/Card.astro";

import description from "~markdown/biography.md?raw";

import seo from "~data/seo.js";
import details from "~data/personal.js";
import { create } from "~scripts/helpers";
import { projects } from "~data/layout.json";
import { roles, learning } from "~data/resume.json";

const layoutProps = {
  title: seo.title("Resume"),
  description: remove_markdown(description),
};

const paul = new create.person(details);

const mode = "triple";
const controls = true;
const defaults = { mode, controls };

const projectProps = {
  title: "Projects",
  ...defaults,
};

const rolesProps = {
  title: "Roles",
  ...defaults,
};

const learningProps = {
  title: "Learning",
  ...defaults,
};
---

<script src="~scripts/pages/resume.js"></script>

<Layout {...layoutProps}>
  <Content>
    <Page>
      <Row mode="double">
        <div class="name">{paul.name}</div>
        <div>
          <div>{paul.location}</div>
          <div>{parse(paul.email.link)}</div>
        </div>
      </Row>
      <Row mode="double">
        <div>
          <div class="title">Biography</div>
          <div class="copy">
            <Biography />
          </div>
        </div>
        <div>{paul.platforms.map(({ link }) => <div>{parse(link)}</div>)}</div>
      </Row>
      <Row {...projectProps}>
        {
          projects.map(function (card, index) {
            let props = { card, index, countTime: true };
            return <Card {...props} />;
          })
        }
      </Row>
      <Row {...rolesProps}>
        {
          roles.map(function (card, index) {
            let props = { card, index, countTime: true };
            return <Card {...props} />;
          })
        }
      </Row>
      <Row {...learningProps}>
        {
          learning.map(function (card, index) {
            let props = { card, index, countTime: true };
            return <Card {...props} />;
          })
        }
      </Row>
    </Page>
  </Content>
</Layout>

<style lang="scss">
  @import "~styles/mixins";

  @mixin mobile-bump {
    @include medium-down {
      margin-bottom: $padding-row * 0.5;
    }
  }

  .name {
    @include mobile-bump;
    font-size: $h2-font-size;

    @include small-up {
      font-size: $h1-font-size;
    }

    @include medium-down {
      line-height: 1.3;
    }
  }

  .title {
    margin-bottom: $padding-row * 0.5;
    font-size: $h3-font-size;
  }

  .copy {
    @include mobile-bump;
    font-weight: normal;
  }
</style>
