---
import { parse } from "node-html-parser";
import remove_markdown from "remove-markdown";

import Layout from "~layouts/Main.astro";

import PageOuter from "~components/Page/Outer.astro";
import PageInner from "~components/Page/Inner.astro";
import PageRow from "~components/Page/Row.astro";
import PageCard from "~components/Page/Card.astro";

import OutlineButton from "~components/Button/Outline.astro";

import Summary from "~markdown/dist/summary.md";

import description from "~markdown/dist/summary.md?raw";

import seo from "~data/seo.js";
import details from "~data/personal.js";
import { create } from "~scripts/helpers";
import { projects } from "~data/layout.json";
import { roles, learning } from "~data/resume.json";

const layoutProps = {
  title: seo.title("Resume"),
  description: remove_markdown(description),
};

const paul = new create.person(details);

const defaultProps = { controls: true, content: { columns: 3 } };

const projectProps = {
  title: "Projects",
  ...defaultProps,
};

const rolesProps = {
  title: "Roles",
  ...defaultProps,
};

const learningProps = {
  title: "Learning",
  ...defaultProps,
};

const saveProps = {
  id: "saveAsPDF",
  align: "left",
  size: 14,
};
---

<script src="~scripts/pages/resume.js"></script>

<Layout {...layoutProps}>
  <PageOuter>
    <PageInner>
      <PageRow content={{ padding: true, columns: 2 }}>
        <div>
          <div class="name">{paul.name}</div>
          <OutlineButton {...saveProps}>Save as PDF</OutlineButton>
        </div>
        <div>
          <div class="location">{paul.location}</div>
          <div class="email">{parse(paul.email.link)}</div>
        </div>
      </PageRow>
      <PageRow content={{ padding: true, columns: 2 }}>
        <div>
          <div class="title biography">Summary</div>
          <div class="copy biography">
            <Summary />
          </div>
        </div>
        <div class="platforms">
          {paul.platforms.map(({ link }) => <div>{parse(link)}</div>)}
        </div>
      </PageRow>
      <PageRow {...projectProps}>
        {
          projects.map(function (card, index) {
            let props = { card, index, countTime: true };
            return <PageCard {...props} />;
          })
        }
      </PageRow>
      <PageRow {...rolesProps}>
        {
          roles.map(function (card, index) {
            let props = { card, index, countTime: true };
            return <PageCard {...props} />;
          })
        }
      </PageRow>
      <PageRow {...learningProps}>
        {
          learning.map(function (card, index) {
            let props = { card, index, countTime: true };
            return <PageCard {...props} />;
          })
        }
      </PageRow>
    </PageInner>
  </PageOuter>
</Layout>

<style lang="scss">
  @import "~styles/mixins";

  @mixin mobile-bump {
    @include medium-down {
      margin-bottom: $padding-row * 0.5;
    }
  }

  .name {
    @include mobile-bump;
    font-size: $h2-font-size;

    @include small-up {
      font-size: $h1-font-size;
    }

    @include medium-down {
      line-height: 1.3;
    }
  }

  .title {
    margin-bottom: $padding-row * 0.5;
    font-size: $h3-font-size;
  }

  .copy {
    @include mobile-bump;
    font-weight: normal;
  }
</style>
