---
import DesktopTopbar from "~components/Desktop/Topbar.astro";

import CanvasContainer from "~components/Desktop/Canvas/Container.astro";
import CanvasContent from "~components/Desktop/Canvas/Content.astro";

import TrelloWindow from "~components/Desktop/Window/Trello.astro";
import TrelloFolder from "~components/Desktop/Folder/Trello.astro";

import SpotifyWindow from "~components/Desktop/Window/Spotify.astro";
import SpotifyGroupFolder from "~components/Desktop/Folder/Group/Spotify.astro";

import ThemeWindow from "~components/Desktop/Window/Theme.astro";
import ThemeGroupFolder from "~components/Desktop/Folder/Group/Theme.astro";

import CarbonWindow from "~components/Desktop/Window/Carbon.astro";

import desktop from "~data/desktop";

const { trello, spotify, themes, carbon } = desktop;
---

<div id="desktop">
  <DesktopTopbar />
  <CanvasContainer>
    <CanvasContent>
      {trello.map((window) => <TrelloWindow {...window} slot="windows" />)}
      {spotify.map((window) => <SpotifyWindow {...window} slot="windows" />)}
      {themes.map((window) => <ThemeWindow {...window} slot="windows" />)}
      {carbon.map((window) => <CarbonWindow {...window} slot="windows" />)}

      <!-- <TrelloFolder {...trello} slot="folders" /> -->
      <SpotifyGroupFolder group={spotify} slot="folders" />
      <ThemeGroupFolder group={themes} slot="folders" />
    </CanvasContent>
  </CanvasContainer>
</div>
