---
import DesktopTopbar from "~Desktop/Topbar";

import CanvasContainer from "~Canvas/Container";
import CanvasContent from "~Canvas/Content";

import TrelloWindow from "~Window/Trello";
import TrelloSingleFolder from "~Folder/Single/Trello";

import SpotifyWindow from "~Window/Spotify";
import SpotifyGroupFolder from "~Folder/Group/Spotify";

import ThemeWindow from "~Window/Theme";
import ThemeGroupFolder from "~Folder/Group/Theme";

import CarbonWindow from "~Window/Carbon";
import CarbonSingleFolder from "~Folder/Single/Carbon";

import desktop from "~data/desktop";

const { trello, spotify, themes, carbon } = desktop;
---

<div id="desktop">
  <DesktopTopbar />
  <CanvasContainer>
    <CanvasContent>
      {trello.map((window) => <TrelloWindow {...window} slot="windows" />)}
      {spotify.map((window) => <SpotifyWindow {...window} slot="windows" />)}
      {themes.map((window) => <ThemeWindow {...window} slot="windows" />)}
      {carbon.map((window) => <CarbonWindow {...window} slot="windows" />)}

      <TrelloSingleFolder {...trello} slot="folders" />
      <CarbonSingleFolder {...carbon} slot="folders" />
      <SpotifyGroupFolder group={spotify} slot="folders" />
      <ThemeGroupFolder group={themes} slot="folders" />
    </CanvasContent>
  </CanvasContainer>
</div>
