---
import { Banner } from "paully";
import { personal } from "paully/data";

const { email } = personal;

const linkProps = {
  href: `mailto:${email}`,
  class: "link",
};
---

<Banner>
  <span>Say hello :)</span>
  <a {...linkProps}>{email}</a>
</Banner>
