---
import { Banner, data } from "paully";

const { email } = data.personal;

const linkProps = {
  href: `mailto:${email}`,
  class: "link",
};
---

<Banner>
  <span>Say hello :)</span>
  <a {...linkProps}>{email}</a>
</Banner>
