---
import Thumbnails from "~components/Gallery/Thumbnails.astro";
import Thumbnail from "~components/Gallery/Thumbnail.astro";
import Overlay from "~components/Gallery/Overlay.astro";

const { id = "gallery", content = [] } = Astro.props;

const props = {
  id,
};
---

<script src="~scripts/components/gallery.js"></script>

<div {...props}>
  <Thumbnails>
    {content.map((content: object) => <Thumbnail {...content} />)}
  </Thumbnails>
  <Overlay />
</div>
