---
import seo from "~data/seo.js";
import personal from "~data/personal.js";

const { title, keywords, description } = Astro.props;

const faviconProps = {
  type: "image/svg+xml",
  href: "/favicon.svg",
  rel: "icon",
};

const themeProps = {
  name: "theme-color",
  content: "black",
};
---

<head>
  <meta charset="UTF-8" />
  <link {...faviconProps} />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/framer.min.css"
  />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width" />
  <meta name="author" content={personal.name} />
  <title>{title ? title : seo.title("Portfolio")}</title>
  {description && <meta name="description" content={description} />}
  {keywords && <meta name="keywords" content={keywords} />}
  <meta {...themeProps} />
</head>
