---
const formProps = {
  onsubmit: "return false",
};

const inputProps = {
  placeholder: "Search...",
  name: "search",
};

const submitProps = {
  id: "submit-search",
};

const clearProps = {
  id: "clear-search",
  style: {
    display: "none",
  },
};
---

<script src="~scripts/components/searchbar.js"></script>

<form {...formProps}>
  <div class="dialog">
    <input {...inputProps} />
    <button {...submitProps}>Filter</button>
  </div>
  <button {...clearProps}>Clear</button>
</form>

<style lang="scss">
  @use "~mixins" as *;

  $color: black;
  $error: darkred;
  $focus: mediumblue;

  @mixin focus-styles {
    background-color: $focus;
    border-color: $focus;
    outline: none;
    color: white;
  }

  form {
    font-size: 1rem;
    display: flex;
  }

  form[data-error] {
    input {
      border-color: $error;
      color: $error;
    }

    button#submit-search {
      background-color: $error;
      color: white;

      @include focus {
        @include focus-styles;
      }
    }

    button#clear-search {
      border-color: $error;
      color: $error;

      @include focus {
        @include focus-styles;
      }
    }
  }

  .dialog {
    grid-auto-flow: column;
    display: inline-grid;
  }

  input {
    border: toRem(2) solid $color;
    border-right: none;
    font-size: inherit;
    padding: 0.625rem;
    border-radius: 0;
    color: $color;
  }

  input:focus {
    border-color: $focus;
    position: relative;
    outline: none;
    z-index: 2;
  }

  input::placeholder {
    color: $color;
    opacity: 1; /* Firefox */
  }

  input::-ms-input-placeholder {
    color: $color; /* Edge 12 -18 */
  }

  button {
    font-size: inherit;
    border-radius: 0;
    width: toRem(70);
    border: none;
  }

  button#submit-search {
    background-color: $color;
    color: white;

    @include focus {
      @include focus-styles;
    }
  }

  button#clear-search {
    background-color: white;
    border: 2px solid $color;
    border-left: none;
    color: $color;

    @include focus {
      @include focus-styles;
    }
  }
</style>
