---
const formProps = {
  onsubmit: "return false",
};

const inputProps = {
  placeholder: "Search...",
  name: "search",
};

const submitProps = {
  id: "search-submit",
};

const clearProps = {
  id: "search-clear",
  style: {
    display: "none",
  },
};
---

<script src="~scripts/components/searchbar.js"></script>

<form {...formProps}>
  <div class="dialog">
    <input {...inputProps} />
    <button {...submitProps}>Filter</button>
  </div>
  <button {...clearProps}>Clear</button>
</form>

<style lang="scss">
  @import "~styles/mixins";

  $color: black;
  $error: #eb0000;
  $focus: blue;

  @mixin button-focus {
    background-color: $focus;
    outline: none;
    color: white;
  }

  form {
    font-size: 1rem;
    display: flex;
  }

  form[data-error] {
    input {
      border-color: $error;
      color: $error;
    }
    input:focus {
      outline-color: $error;
    }

    button#search-submit,
    button#search-clear {
      background-color: $error;
      color: white;

      &:focus {
        @include button-focus;
      }
    }
  }

  .dialog {
    grid-auto-flow: column;
    display: inline-grid;
  }

  input {
    border: toRem(2) solid $color;
    font-size: inherit;
    border-radius: 0;
    padding: 0.5rem;
    color: $color;
  }

  input:focus {
    border-color: $focus;
    position: relative;
    outline: none;
    z-index: 2;
  }

  input::placeholder {
    color: $color;
    opacity: 1; /* Firefox */
  }

  input::-ms-input-placeholder {
    color: $color; /* Edge 12 -18 */
  }

  button {
    font-size: inherit;
    border-radius: 0;
    width: toRem(70);
    border: none;
  }

  button#search-submit {
    background-color: $color;
    color: white;

    &:focus {
      @include button-focus;
    }
  }

  button#search-clear {
    background-color: $c-body-bg;
    margin-left: toRem(2);
    color: $color;

    &:focus {
      @include button-focus;
    }
  }
</style>
