---
import Row from "~components/Page/Row.astro";
import Thumbnail from "~components/Gallery/Thumbnail.astro";

const thumbnail = (
  src = "",
  title = "",
  ratio = 0.5625,
  width = 120,
  height = 90
) => ({
  src: "/trailers/" + src,
  title,
  ratio,
  width,
  height,
});

const trailers = [
  thumbnail("generations.mp4", "Generations"),
  thumbnail("borders_and_boundaries.mp4", "Borders and Boundaries"),
  thumbnail("more_than_human.mp4", "More than Human"),
  thumbnail("watch_this_space.mp4", "Watch this Space"),
];

const life_rewired = [
  thumbnail("life_rewired/entrance_screen.mp4", "Entrance Screen", 1.8, 90),
];
---

<script src="~scripts/components/gallery.js"></script>

<Row>
  <div id="gallery" class="container">
    <div class="thumbnails">
      {trailers.map((thumbnail) => <Thumbnail {...thumbnail} />)}
    </div>
    <div class="thumbnails">
      {life_rewired.map((thumbnail) => <Thumbnail {...thumbnail} />)}
    </div>
  </div>
</Row>

<style lang="scss">
  @import "~styles/mixins";

  .thumbnails {
    margin: -0.75rem;

    @include small-down {
      text-align: center;
    }
  }
</style>

<style lang="scss" is:global>
  @import "~styles/mixins";

  .overlay {
    background: black;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;

    justify-content: center;
    align-items: center;
    display: flex;
  }

  .overlay .wrap {
    $size: 1024px;

    justify-content: center;
    align-items: center;
    position: relative;
    max-height: $size;
    max-width: $size;
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  .overlay video {
    border-radius: $border-radius-sm;
    max-height: 100%;
    max-width: 100%;
    display: block;
  }

  .overlay .close {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
  }
</style>
