---
import Row from "~components/Page/Row.astro";
import Thumbnail from "~components/Gallery/Thumbnail.astro";
import Overlay from "~components/Gallery/Overlay.astro";

const thumbnail = (
  index = 0,
  src = "",
  title = "",
  ratio = 0.5625,
  width = 120,
  height = 90
) => ({
  index,
  src: "/trailers/" + src,
  title,
  ratio,
  width,
  height,
});

const trailers = [
  thumbnail(0, "generations.mp4", "Generations"),
  thumbnail(1, "borders_and_boundaries.mp4", "Borders and Boundaries"),
  thumbnail(2, "more_than_human.mp4", "More than Human"),
  thumbnail(3, "watch_this_space.mp4", "Watch this Space"),
];

const life_rewired = [
  thumbnail(4, "life_rewired/entrance_screen.mp4", "Entrance Screen", 1.8, 80),
];
---

<script src="~scripts/components/gallery.js"></script>

<Row>
  <div id="gallery" class="container">
    <div class="thumbnails">
      {trailers.map((thumbnail) => <Thumbnail {...thumbnail} />)}
    </div>
    <div class="thumbnails">
      {life_rewired.map((thumbnail) => <Thumbnail {...thumbnail} />)}
    </div>
    <Overlay />
  </div>
</Row>

<style lang="scss">
  @import "~styles/mixins";

  .thumbnails {
    margin: -0.75rem;

    @include small-down {
      text-align: center;
    }
  }
</style>
