---
import Row from "~components/Page/Row.astro";
import Thumbnail from "~components/Gallery/Thumbnail.astro";

const trailer = (src = "", title = "", ratio = 0.5625) => ({
  src: "/trailers/" + src,
  title,
  ratio,
});

const trailers = [
  trailer("generations.mp4", "Generations"),
  trailer("borders_and_boundaries.mp4", "Borders and Boundaries"),
  trailer("more_than_human.mp4", "More than Human"),
  trailer("watch_this_space.mp4", "Watch this Space"),
  trailer("life_rewired/entrance_screen.mp4", "Entrance Screen", 1.8),
];
---

<script src="~scripts/components/gallery.js"></script>

<Row>
  <div id="gallery" class="container">
    <div class="thumbnails">
      {trailers.map((trailer) => <Thumbnail {...trailer} />)}
    </div>
  </div>
</Row>

<style lang="scss">
  @import "~styles/mixins";

  .thumbnails {
    margin: -0.75rem;

    @include small-down {
      text-align: center;
    }
  }
</style>

<style lang="scss" is:global>
  @import "~styles/mixins";

  .overlay {
    background: black;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;

    justify-content: center;
    align-items: center;
    display: flex;
  }

  .overlay .wrap {
    justify-content: center;
    position: relative;
    display: flex;
    width: 100vw;

    @include medium-up {
      width: 70vw;
    }
  }

  .overlay video {
    border-radius: $border-radius-sm;
    display: block;
  }

  .overlay .close {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
  }
</style>
