---
import Loader from "~components/Gallery/Loader.astro";
import Close from "~components/Gallery/Buttons/Close.astro";
import Prev from "~components/Gallery/Buttons/Prev.astro";
import Next from "~components/Gallery/Buttons/Next.astro";
import Play from "~components/Gallery/Buttons/Play.astro";
import Mute from "~components/Gallery/Buttons/Mute.astro";

const overlayProps = {
  "data-state": "closed",
  class: "overlay",
};

const contentProps = {
  "data-state": "not-loaded",
  class: "content",
};
---

<div {...overlayProps}>
  <Loader />
  <div {...contentProps}>
    <div class="controls">
      <div class="top">
        <Close />
      </div>
      <div class="bottom">
        <Prev />
        <Play />
        <Mute />
        <Next />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import "~styles/mixins";

  $offset_sm: -1rem;
  $offset_lg: -3.25rem;

  @mixin inset {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  .overlay {
    $paddingHz: 2rem;
    $paddingVt: $paddingHz * 2.5;

    @include inset;
    padding: $paddingVt $paddingHz;
    background-color: black;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: fixed;
    display: flex;
    z-index: 3;

    &[data-state="closed"] {
      display: none;
    }
  }

  .content {
    $size: 64rem;

    justify-content: center;
    align-items: center;
    position: relative;
    max-height: $size;
    max-width: $size;
    min-width: 10rem;
    display: flex;
    height: 100%;

    &[data-state="not-loaded"] {
      opacity: 0;
    }
  }

  .video {
    border: 1px solid white;
    max-height: 100%;
    max-width: 100%;
    display: block;

    &[data-ratio="portrait"] {
      width: auto;
      height: 100%;
    }

    &[data-ratio="landscape"] {
      width: 100%;
      height: auto;
    }
  }

  .controls {
    @include inset;
    position: absolute;
    min-width: 10rem;
    margin: auto;
    z-index: 1;

    @include small-up {
      z-index: 3;
    }
  }

  @mixin control-row {
    justify-content: center;
    position: absolute;
    display: flex;
    gap: 0.5rem;
    right: 0;
    left: 0;
  }

  .bottom {
    @include control-row;
    bottom: $offset_lg;

    @include small-up {
      bottom: $offset_sm;
    }
  }

  .top {
    @include control-row;
    top: $offset_lg;

    @include small-up {
      top: $offset_sm;
    }
  }
</style>
