---
import { Image } from "astro:assets";

const remify = (value = 1) => value * 0.0625 + "rem";

// prettier-ignore
let { width = 120, height = 90, src, title, index, type, content } = Astro.props;

const ratio = content.height / content.width;

const image = {
  width: ratio > 1 ? height / ratio : width,
  height: ratio > 1 ? height : width * ratio,
};

const imageProps = {
  src: "/thumbnails/" + src + ".jpg",
  alt: title,
  ...image,
};

const buttonProps = {
  "data-width": content.width,
  "data-height": content.height,
  "data-index": index,
  "data-src": src,
  "data-type": type,
  class: "thumbnail",
};

const vars = {
  height: remify(height),
  width: remify(width),
};
---

<button {...buttonProps}>
  <div class="wrap">
    <div class="inner">
      <Image {...imageProps} />
    </div>
  </div>
  <div class="title">
    {title}
  </div>
</button>

<style lang="scss" define:vars={vars}>
  @import "~styles/mixins";

  .thumbnail {
    background-color: transparent;
    vertical-align: middle;
    width: var(--width);
    margin: 0.75rem;
    color: black;
    border: none;
    padding: 0;
  }

  .wrap {
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-page;
    background-color: $c-gray-9;
    justify-content: center;
    height: var(--height);
    pointer-events: none;
    align-items: center;
    overflow: hidden;
    display: flex;
  }

  .wrap img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  .title {
    margin-top: $padding-row * 0.5;
    font-size: $h6-font-size;
    color: $c-gray-9;
  }
</style>
