---
import { Image } from "astro:assets";
import { parse } from "node-html-parser";

const remify = (value = 1) => value * 0.0625 + "rem";

// prettier-ignore
let { width = 120, height = 90, src, title, index, type, content, info } = Astro.props;

const ratio = content.height / content.width;

const image = {
  width: ratio > 1 ? height / ratio : width,
  height: ratio > 1 ? height : width * ratio,
};

const imageProps = {
  src: "/thumbnails/" + src + ".jpg",
  alt: title,
  ...image,
};

const buttonProps = {
  "data-width": content.width,
  "data-height": content.height,
  "data-index": index,
  "data-src": src,
  "data-type": type,
  class: "thumbnail",
};

const vars = {
  height: remify(height),
  width: remify(width),
};

const words = title.split(" ");
---

<button {...buttonProps}>
  <div class="wrap">
    <div class="inner">
      <Image {...imageProps} />
    </div>
  </div>
  <div class="title">
    {words.map((word) => <span class="word">{word}</span>)}
  </div>
  <div class="context">{parse(info)}</div>
</button>

<style lang="scss" define:vars={vars}>
  @import "~styles/mixins";

  $shade: $c-body-bg;
  $active: $c-blue;

  .thumbnail {
    $margin: 0.75rem;

    background-color: transparent;
    vertical-align: middle;
    width: var(--width);
    margin: $margin;
    border: none;
    color: black;
    padding: 0;

    &:active {
      transform: scale(0.95);
    }

    @include focus {
      .wrap {
        outline: 0.375rem solid $shade;
      }

      .word {
        background-color: $active;
        color: white;
      }
    }
  }

  .title {
    margin-top: $padding-row * 0.5;
    color: $c-gray-9;
    font-size: 0;
  }

  .word {
    line-height: $line-height-md;
    background-color: $shade;
    padding-right: 0.1875rem;
    font-size: $h6-font-size;
    padding-left: 0.1875rem;
    display: inline-block;
  }

  .wrap {
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-page;
    background-color: $c-gray-9;
    justify-content: center;
    height: var(--height);
    pointer-events: none;
    align-items: center;
    overflow: hidden;
    display: flex;
  }

  .wrap img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  .context {
    display: none;
  }
</style>
