---
import { Image } from "astro:assets";
// import Label from "~components/Label.astro";

const remify = (value = 1) => value * 0.0625 + "rem";

let { width = 120, src, title, ratio } = Astro.props;

let height = width * 0.75;

let image_width = ratio > 1 ? height / ratio : width;

let image_height = ratio > 1 ? height : width * ratio;

const imageProps = {
  src: "/thumbnails" + src.slice(0, -4) + ".jpg",
  height: image_height,
  width: image_width,
  alt: title,
};

const buttonProps = {
  "data-src": src,
  "data-ratio": ratio,
  class: "button",
};

// const labelProps = {
//   color: "black",
//   style: "solid",
//   size: "sm",
// };

const vars = {
  height: remify(height),
  width: remify(width),
};
---

<button {...buttonProps}>
  <div class="wrap">
    <div class="inner">
      <Image {...imageProps} />
    </div>
  </div>
  <div class="title">
    {title}
  </div>
  <!-- <Label {...labelProps}>trailer</Label> -->
</button>

<style lang="scss" define:vars={vars}>
  @import "~styles/mixins";

  .button {
    background-color: transparent;
    vertical-align: top;
    width: var(--width);
    margin: 0.75rem;
    color: black;
    border: none;
    padding: 0;
  }

  .wrap {
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-page;
    background-color: $c-gray-9;
    justify-content: center;
    height: var(--height);
    align-items: center;
    overflow: hidden;
    display: flex;
  }

  .wrap img {
    max-width: 100%;
    height: auto;
  }

  .title {
    margin-top: $padding-row * 0.5;
    font-size: $h6-font-size;
    color: $c-gray-9;
  }
</style>
