---
import { Wifi } from "paully/svgs";
---

<div id="wifi" class="container">
  <Wifi />
</div>

<style lang="scss">
  @import "~styles/mixins";

  .container {
    @include topbar-icon;
  }
</style>
