---
import WindowOuter from "~Window/Outer";
import WindowInner from "~Window/Inner";
import Folder from "~Desktop/Folder";

import WindowRows from "~Folder/Group/Rows";
import { get } from "paully/helpers";

const { group, label, width, class: className } = Astro.props;

let open = false;

group.forEach(function (item) {
  if (item.open) open = true;
});

const divProps = {
  "class:list": ["groupfolder-container", className],
};

const folderProps = {
  label,
  open,
};

const outerProps = {
  width,
  label,
  open,
  style: {
    left: get.rems(-28),
    top: get.rems(-28),
  },
};

const innerProps = {
  topbar: {
    label,
  },
};
---

<div {...divProps}>
  <Folder {...folderProps} />
  <WindowOuter {...outerProps}>
    <WindowInner {...innerProps}>
      <WindowRows group={group} />
    </WindowInner>
  </WindowOuter>
</div>

<style lang="scss">
  @import "~styles/mixins";

  .groupfolder-container {
    @include folder-container;
  }
</style>
