---
import Folder from "~Desktop/Folder";

const { class: className } = Astro.props;

const singleProps = {
  "class:list": ["singlefolder-container", className],
};
---

<div {...singleProps}>
  <Folder {...Astro.props} />
</div>

<style lang="scss">
  @use "~mixins" as *;

  .singlefolder-container {
    @include folder-container;
  }
</style>
