---
const { size = 20, href = "/resume" } = Astro.props;

const toRems = (value = 1) => value * 0.0625 + "rem";

const linkProps = {
  class: "link",
  href,
};

const height = size * 0.75;

const padding = size * 0.5;

const radius = padding * 0.5;

const svgProps = {
  xmlns: "http://www.w3.org/2000/svg",
  viewbox: "0 0 18 12",
  width: size,
  height,
};

const vars = {
  size: toRems(size),
  padding: toRems(padding),
  radius: toRems(radius),
};
---

<div class="back">
  <a {...linkProps}>
    <svg {...svgProps}>
      <path d="M6,12L0,6l6-6l1.4,1.4L3.8,5H18v2H3.8l3.6,3.6L6,12z"></path>
    </svg>
    <div class="content">
      <slot />
    </div>
  </a>
</div>

<style lang="scss" define:vars={vars}>
  @import "~styles/mixins";

  .back {
    text-align: center;
  }

  .link {
    border-radius: var(--radius);
    background-color: white;
    border: black 1px solid;
    padding: var(--padding);
    font-size: var(--size);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: var(--padding);
    margin-right: auto;
    fill: currentColor;
    margin-left: auto;
    font-weight: bold;
    line-height: 1;
    color: black;

    &:active {
      transform: scale(0.95);
    }

    @include focus {
      background-color: black;
      color: white;
    }
  }
</style>
