---
import { Previous, Next } from "paully/svgs";
---

<div class="controls">
  <button class="previous-button">
    <Previous />
  </button>
  <slot />
  <button class="next-button">
    <Next />
  </button>
</div>

<style lang="scss">
  @use "~mixins" as *;

  @mixin customise-button {
    @include medium-down {
      transform: rotate(90deg);
      position: absolute;
      margin: auto;
      right: 0;
      left: 0;
    }

    @include medium-up {
      position: relative;
      top: 7.5rem;
    }
  }

  .controls {
    position: relative;

    @include medium-up {
      grid-template-columns: $padding-row auto $padding-row;
      align-items: flex-start;
      display: grid;
    }
  }

  .previous-button {
    @include page-button;
    @include customise-button;

    @include medium-down {
      top: -$page-button-bump-sm;
    }

    @include medium-up {
      justify-self: flex-start;
      right: $page-button-bump-lg;
    }

    svg {
      right: 1px;
    }
  }

  .next-button {
    @include page-button;
    @include customise-button;

    @include medium-down {
      bottom: -$page-button-bump-sm;
    }

    @include medium-up {
      justify-self: flex-end;
      left: $page-button-bump-lg;
    }

    svg {
      left: 1px;
    }
  }
</style>
