---
import Thumbnails from "~Page/Gallery/Thumbnails";
import Thumbnail from "~Page/Gallery/Thumbnail";
import Overlay from "~Page/Gallery/Overlay";

const { id = "gallery", content = [] } = Astro.props;

const props = {
  id,
};
---

<script src="~scripts/components/gallery.js"></script>

<div {...props}>
  <Thumbnails>
    {
      content.map(function (content: object, index: number) {
        const props = {
          ...content,
          index,
        };

        return <Thumbnail {...props} />;
      })
    }
  </Thumbnails>
  <Overlay />
</div>
