---
const { data } = Astro.props;

const pageInner = {
  class: "page-inner",
  data,
};
---

<div {...pageInner}>
  <slot />
</div>

<style lang="scss">
  @use "~mixins" as *;

  .page-inner {
    @include wrap;

    @include medium-up {
      box-shadow: $box-shadow-page;
      max-width: 50rem;
    }
  }
</style>
