<div class="page-outer">
  <slot />
</div>

<style lang="scss">
  @import "~styles/mixins";

  .page-outer {
    padding: ($padding-row * 1.5) $padding-row;

    @include small-up {
      padding-bottom: 9rem;
    }
  }
</style>
