---
import RowTitle from "~Page/Row/Title";
import RowControls from "~Page/Row/Controls";
import RowContent from "~Page/Row/Content";

import type { content, pageRow } from "~types/page/row";

const { title, controls = false, content, data, style } = Astro.props;

interface Props {
  title?: string;
  controls?: boolean;
  content?: content;
  data?: string;
  style?: object;
}

const pageRow: pageRow = {
  class: "page-row",
  data,
};

if (title) pageRow.id = title.toLowerCase() + "_row";

if (style) pageRow.style = style;
---

<div {...pageRow}>
  {title && <RowTitle>{title}</RowTitle>}
  {
    controls ? (
      <RowControls content={content}>
        <slot />
      </RowControls>
    ) : (
      <RowContent {...content}>
        <slot />
      </RowContent>
    )
  }
</div>

<style lang="scss">
  @import "~styles/mixins";

  .page-row {
    background-color: white;

    @include medium-down {
      box-shadow: $box-shadow-page;
    }
  }

  .page-row + .page-row {
    @include medium-down {
      margin-top: $margin-row;
    }

    @include medium-up {
      border-top: $border-dashed;
    }
  }
</style>
