---
import RowTitle from "~components/Page/Row/Title.astro";
import RowControls from "~components/Page/Row/Controls.astro";
import RowContent from "~components/Page/Row/Content.astro";

const { title, controls = false, content, data } = Astro.props;

interface props {
  class: string;
  data?: string;
  id?: string;
}

const props: props = {
  class: "page-row",
  data,
};

if (title) props.id = title.toLowerCase() + "_row";
---

<div {...props}>
  {title && <RowTitle>{title}</RowTitle>}
  {
    controls ? (
      <RowControls content={content}>
        <slot />
      </RowControls>
    ) : (
      <RowContent {...content}>
        <slot />
      </RowContent>
    )
  }
</div>

<style lang="scss">
  @import "~styles/mixins";

  .page-row {
    background-color: white;

    @include medium-down {
      box-shadow: $box-shadow-page;
    }
  }

  .page-row + .page-row {
    @include medium-down {
      margin-top: $margin-row;
    }

    @include medium-up {
      border-top: $border-dashed;
    }
  }
</style>
