---
const { name, href } = Astro.props;

const props = {
  class: "name",
  href,
};
---

<div class="wrap">
  <a {...props}>{name}</a>
</div>

<style lang="scss">
  @import "~styles/mixins";

  .wrap {
    @include line-overflow;
  }

  .name {
    font-size: $h4-font-size;
  }
</style>
