---
let { status } = Astro.props;

let pausedClass = status == "Paused" ? "paused" : null;

let statusProps = {
  "class:list": ["status", pausedClass],
};
---

<div {...statusProps}>
  {status}
</div>

<style lang="scss">
  @use "~mixins" as *;

  .status {
    font-size: $font-size-summary;
    margin-bottom: 0.5rem;
    font-style: italic;
    color: $c-gray-7;
  }

  .status.paused {
    color: $c-status-error;
  }
</style>
