---
const { content } = Astro.props;
---

<div class="summary">
  {content}
</div>

<style lang="scss">
  @use "~mixins" as *;

  .summary {
    @include line-overflow(4);
    font-weight: $font-weight-normal;
    font-size: $font-size-summary;
    color: $c-gray-7;
  }
</style>
