---
const { content } = Astro.props;
---

<div class="summary">
  {content}
</div>

<style lang="scss">
  @import "~styles/mixins";

  .summary {
    // @include line-overflow(4);
    font-size: $font-size-summary;
    color: $c-gray-7;
  }
</style>
