---
import { parse } from "node-html-parser";

let { content } = Astro.props;

function process(content) {
  if (!content) return ""

  let max = 15;

  let words = content.split(" ");

  let short = words.filter((word, index) => index <= max);

  let extra = words.filter((word, index) => index > max);

  let button = "<button class='readmore'>more</button>";

  short = short.join(" ");

  short = "<span class='short'>" + short + "</span>";

  let result = short;

  if (extra.length) {
    extra = extra.join(" ");

    extra = "<span class='extra' style='display:none;'>" + extra + "</span>";

    result += " " + extra;

    result += " " + button;
  }

  return parse(result);
}

content = process(content);
---

<div class="summary">
  {content}
</div>

<style lang="scss">
  @import "~styles/mixins";

  .summary {
    font-size: $font-size-summary;
    color: $c-gray-7;
  }
</style>

<style lang="scss" is:global>
  @import "~styles/mixins";

  .summary .readmore {
    padding: toRem(3) toRem(6) toRem(5) toRem(6);
    border-radius: $border-radius-sm;
    border: 1px solid currentColor;
    font-size: $h6-font-size;
    background-color: white;
    font-weight: bold;
    color: inherit;
    line-height: 1;

    @include focus {
      background-color: $c-gray-7;
      color: white;
    }
  }
</style>
