---
import OpenIcon from "~components/Desktop/Folder/Icons/Open.astro";
import ShutIcon from "~components/Desktop/Folder/Icons/Shut.astro";

const { label, open } = Astro.props;

const folderProps = {
  class: "folder-container",
  "data-label": label,
};

const openProps = {
  style: {
    visibility: open ? "visible" : "hidden",
  },
};

const shutProps = {
  style: {
    visibility: !open ? "visible" : "hidden",
  },
};
---

<button {...folderProps}>
  <div class="folder-icons">
    <OpenIcon {...openProps} />
    <ShutIcon {...shutProps} />
  </div>
  <div class="folder-label">{label}</div>
</button>

<style lang="scss">
  @import "~styles/mixins";

  .folder-container {
    @include invisible-button;
    margin: 0.75rem;
    border: none;
    width: 100%;

    @include focus {
      .folder-label {
        @include folder_words--focus;
      }
    }
  }

  .folder-label {
    @include folder_words;
    font-size: $h6-font-size;
    font-weight: 600;
  }

  .folder-icons {
    justify-content: center;
    display: grid;
  }
</style>
