---
import { OpenFolder, ClosedFolder } from "paully/svgs";

let { label, open } = Astro.props;

let gridArea = "1 / 1";

let openStyles = { gridArea, visibility: open ? "visible" : "hidden" };

let closedStyles = { gridArea, visibility: !open ? "visible" : "hidden" };
---

<button class="folder-container" data-label={label}>
  <div class="folder-icons">
    <OpenFolder style={{ ...openStyles }} />
    <ClosedFolder style={{ ...closedStyles }} />
  </div>
  <div class="folder-label">{label}</div>
</button>

<style lang="scss">
  @use "~mixins" as *;

  .folder-container {
    @include invisible-button;

    & {
      border: none;
      width: 100%;

      @include focus {
        .folder-label {
          @include folder_words--focus;
        }
      }
    }
  }

  .folder-label {
    @include folder_words;
    font-size: $h6-font-size;
    font-weight: 600;
  }

  .folder-icons {
    justify-content: center;
    display: grid;
  }
</style>
