---
import Skiplink from "~components/Skiplink.astro";
import WindowTopbar from "~components/Desktop/Window/Topbar.astro";

const { name, open, label, style, class: className, topbar } = Astro.props;

const outerProps = {
  class: "outer-window",
  "data-label": label,
  "data-name": name,
  style: {
    visibility: open ? "visible" : "hidden",
    ...style,
  },
};

const innerProps = {
  "class:list": ["inner-window", className ? className : "default"],
};
---

<div {...outerProps}>
  <Skiplink />
  <div {...innerProps}>
    {topbar && <WindowTopbar {...topbar} />}
    <slot />
  </div>
</div>

<style lang="scss">
  @import "~styles/mixins";

  .outer-window {
    position: absolute;
    width: 16rem;
  }

  .inner-window {
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-window;
    font-size: toRem(18);
    overflow: hidden;
  }

  .inner-window.default {
    background-color: white;
    color: black;
  }
</style>
