---
import WindowOuter from "~Window/Outer";
import WindowTopbar from "~Window/Topbar";

const { name, open, label, class: className, topbar } = Astro.props;

const outerProps = {
  "class:list": ["outer-window", className],
  "data-label": label,
  "data-name": name,
  style: {},
};

if (!open) {
  outerProps.style.visibility = "hidden";
  outerProps.style.opacity = 0;
  outerProps.style.scale = 0.5;
}

const innerProps = {
  "class:list": ["inner-window", className],
};
---

<WindowOuter {...outerProps}>
  <div {...innerProps}>
    {topbar && <WindowTopbar {...topbar} />}
    <slot />
  </div>
</WindowOuter>

<style lang="scss">
  @use "~mixins" as *;

  .inner-window {
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-window;
    font-size: toRem(18);
    overflow: hidden;
  }

  .inner-window:not(.custom) {
    background-color: white;
    color: black;
  }
</style>
