---
import Skiplink from "~components/Skiplink.astro";

const { name, open, group, style, class: className } = Astro.props;

const outerProps = {
  class: "outer-window",
  "data-group": group,
  "data-name": name,
  "data-open": open,
  style,
};

const innerProps = {
  "class:list": ["inner-window", className ? className : "default"],
};
---

<div {...outerProps}>
  <Skiplink />
  <div {...innerProps}>
    <slot />
  </div>
</div>

<style lang="scss">
  @import "~styles/mixins";

  .outer-window {
    position: absolute;
    display: none;
    width: 16rem;
  }

  .outer-window[data-open] {
    display: block;
  }

  .inner-window {
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-window;
    font-size: 1.125rem;
    overflow: hidden;
  }

  .inner-window.default {
    background-color: white;
    color: black;
  }
</style>
