---
import "~styles/global.scss";
import Head from "~Components/Head";
import Menu from "~Components/Menu";
import Marquee from "~Components/Marquee";
import Desktop from "~Components/Desktop";
import Contact from "~Components/Contact";
import Footer from "~Components/Footer";
---

<script>
  import "focus-visible/dist/focus-visible.min.js";
</script>

<script src="~scripts/layouts/main.js"></script>

<html lang="en">
  <Head {...Astro.props} />
  <body data-state="visible">
    <div class="hero-wrap">
      <Menu />
      <slot />
    </div>
    <Marquee />
    <Desktop />
    <Contact />
    <Footer />
  </body>
</html>

<style lang="scss">
  .hero-wrap {
    position: relative;
  }
</style>
