---
import { parse } from "node-html-parser";

import Layout from "~Layouts/Main";

import PageOuter from "~Page/Outer";
import PageInner from "~Page/Inner";
import PageRow from "~Page/Row";
import PageGallery from "~Page/Gallery";

import { BackLink } from "paully";

import galleries from "~data/galleries";

import type { layout, back } from "~types/layout/page";
import type { local } from "~types/page/card";

interface Props {
  layout: layout;
  local: local;
  back: back;
}

const { layout, local, back } = Astro.props;

const gallery = galleries[local.filename];
---

<script src="~scripts/layouts/page.js"></script>

<Layout {...layout}>
  <PageOuter>
    <PageInner>
      {
        local.sections.map((section: string) => (
          <PageRow content={{ padding: true }}>{parse(section)}</PageRow>
        ))
      }
      {
        gallery && (
          <PageRow content={{ padding: true }}>
            <PageGallery content={gallery} />
          </PageRow>
        )
      }
    </PageInner>
    <div class="wrap-back">
      <BackLink href={back.href}>{back.title}</BackLink>
    </div>
  </PageOuter>
</Layout>

<style lang="scss">
  @use "~styles/mixins" as *;

  .wrap-back {
    margin-top: $padding-row * 2;
  }
</style>
