@mixin white-box {
  @include single-box(white);
  background-color: white;
  color: black;
}

@mixin lemon-box {
  @include single-box($c-lemon);
  background-color: $c-lemon;
  color: black;
}

@mixin gold-box {
  @include single-box($c-gold);
  background-color: $c-gold;
  color: black;
}

@mixin focus-about($a, $b) {
  @include single-box($a);
  background-color: $b;
  color: $a;
}

@mixin focus-resume {
  border-color: black;
}