:root {
  --backgroundColor: #add2f7;
  --color: #ff4a00;
  --fallback: 250px;
  --man: 156px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.fallback {
  background-color: black;
  justify-content: center;
  font-family: sans-serif;
  height: var(--fallback);
  width: var(--fallback);
  align-items: center;
  text-align: center;
  color: white;
  padding: 1rem;
  display: flex;
}

a {
  background-color: var(--backgroundColor);
  height: var(--height);
  width: var(--width);
  position: relative;
  overflow: hidden;
  display: none;
}

#menu {
  background-color: black;
  height: var(--height);
  width: var(--width);
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

#menu img {
  position: absolute;
  z-index: 2;
}

#scene {
  height: var(--height);
  width: var(--width);
}

#man {
  height: var(--man);
  position: absolute;
  width: var(--man);
  overflow: hidden;
  z-index: 2;
}

#sprite {
  position: relative;
}

.line {
  background-color: var(--color);
  position: absolute;
  opacity: 0.5;
}

#horizontal {
  width: var(--width);
  height: 2px;
}

#vertical {
  height: var(--height);
  width: 2px;
  right: 0;
}
