---
import WindowOuter from "~Window/Outer";
import WindowInner from "~Window/Inner";
---

<WindowOuter {...Astro.props} class="outer">
  <WindowInner class="inner">
    <a href="https://www.websitecarbon.com/website/paul-ly/" class="dialog">
      <div class="perView">0.07g of CO<sub>2</sub>/view</div>
      <div class="title">Website Carbon</div>
    </a>
    <p class="message">Cleaner than 94% of pages tested</p>
  </WindowInner>
</WindowOuter>

<style lang="scss">
  @use "~mixins" as *;

  $gray: #1f201f;
  $green: #05ffb3;
  $blue: #0c14a2;

  $padding: 0.75rem;

  @mixin boxes {
    padding-bottom: $padding * 0.5;
    padding-top: $padding * 0.5;
  }

  .outer {
    left: toRem(220);
    top: toRem(220);
  }

  .inner {
    background-color: $gray;
    text-align: center;
    padding: $padding;
    color: white;
  }

  .dialog {
    border-radius: $border-radius-lg;
    border: 2px solid $green;
    background-color: white;
    text-decoration: none;
    overflow: hidden;
    display: block;
    color: $blue;
  }

  .perView {
    @include boxes;
    font-size: toRem(14);
    font-weight: 400;
  }

  .title {
    @include boxes;
    background-color: $green;
    font-size: toRem(16);
  }

  .message {
    margin-top: $padding-trello;
    font-size: toRem(14);
    cursor: default;
    line-height: 1;
  }
</style>
